<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="isanoor.ONSEN" version="1.0.0">
  <name> OnsenUi</name>
  <description>ONSEN test</description>
  <author href="http://aysanoor.com" email="info@aysanoor.com">Ahmad.S</author>
  <content src="index.html"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="14"/>
  <preference name="Fullscreen" value="false" />
  <plugin name="cordova-plugin-dialogs" source="npm" spec="~1.2.0"/>
  <gap:plugin name="cordova-plugin-whitelist" source="npm" />
  <access origin="*" />
<allow-intent href="*" />
<allow-navigation href="*" />
  <plugin name="cordova-plugin-splashscreen" source="npm" spec="~3.2.1"/>
  <preference name="SplashScreen" value="splash" />
  <preference name="orientation" value="portrait" />
<preference name="SplashScreenDelay" value="10000" />
<preference name="AutoHideSplashScreen" value="true" />
<preference name="FadeSplashScreen" value="false"/>
<preference name="ShowSplashScreenSpinner" value="false" />
  <plugin name="cordova-plugin-statusbar" source="npm"/>
  <preference name="StatusBarOverlaysWebView" value="true" />
<preference name="StatusBarBackgroundColor" value="#5b7b9b"/>
<preference name="StatusBarStyle" value="lightcontent" />
  <platform name="android">
    <icon src="icon.png" />
    <splash src="splash.jpg"/>
  </platform>
  <access origin="*"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <platform name="android">
    <allow-intent href="market:*"/>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
</widget>
